<div class="row">
	<div class="col-md-4 signin signin-btn">
		<button type="button" class="btn btn-lg">
			<div><%= link_to 'Sign In', new_user_session_path  %></div>
		</button>
	</div>
	<div class="col-md-8 signin">
		<h1>RSS Feeder</h1>
	</div>
</div>

