// Place all the styles related to the Feeds controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



#feed_link{
	width: 100%;
	padding: 1rem;
}
.latest-feeds{
	padding: 2%;
	margin: 5px 0px;
}

.one-feed{
	margin: 3% 0;
	line-height: 2rem;
	text-align: justify;
}