// Place all the styles related to the Feeds controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



#feed_link{
	width: 100%;
	padding: 1rem;
}
.latest-feeds{
	padding: 2%;
	margin: 5px 0px;
}

.one-feed{
	margin: 3% 0;
	line-height: 2rem;
	text-align: justify;
	border: 1px solid #ccc;
	border-radius: 10px;
	padding: 1%;
	p{
		margin-top: 2%;
	}
	a{
		margin-right: 12px;
	}
	span.add-category{
			cursor: pointer;
		}
}
.show-category{
	display: block;
}


.hide-category{
	display: none;
}
.save-message{
	font-size: 1.5rem;
	color: green;
	float: right;
}
.search-result{
	padding: 1rem;
	font-family: sans-serif;
	border-left: 1px solid #ccc;
	border: 1px solid #ccc;
	background:white;
}